.btn-loadmore {
	@include circle(70px, $gray);
	border: none;
	color: $white;
	text-transform: uppercase;
    line-height: 18px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    outline: none;
}