/**
 * partials/footer
 * ---
 */


.footer {
	@include container(100%);
	background-color: $violet;
	padding: 50px 5%;
	ul {
		list-style-type: none;
		@include container(100%);
		padding: 0;
		> li {
			display: inline-block;
			float: left;
			width: 100%;
			@include breakpoint($desktop) {
				width: auto;			
			}
		}
		a {
			font-size: 15px;
			display: block;
			text-transform: uppercase;
			padding: 10px 15px;
			color: white;
			width: 100%;
			text-align: center;
			@include breakpoint($desktop) {
				width: auto;
			}
			&:hover {
				color: $pink;
			}
		}
	}
	> .logo {
		@include span(12 of 12);
		@include breakpoint($desktop) {
			@include span(3 of 12);	
		}
		img {
			max-width: 160px;
			margin: 0 auto;
		}
	}	
}

.copyright {
	color: $copyright;
	margin: 0;
	text-align: center;
	@include breakpoint($desktop) {
		text-align: left;		
	}
}
