/**
 * partials/header
 * ---
 */


// Header container
.header {
	position: relative;
	z-index: 1;
	@include fluid-aspect(16 9);
	background-repeat: no-repeat;
	background-size: cover;
	@include breakpoint($tablet) {
		@include fluid-aspect(16 5);
	}
	> .logo {
		z-index: -1;
		position: absolute;
    	top: 25%;
		left: 50%;
		transform: translate(-50%);
		width: 150px;
    	height: auto;
    	@include breakpoint(min-width 400px) {
    		width: 220px;    		
    	}
    	@include breakpoint($tablet) {
    		left: 18%;
    	}
	}
	li {
	width: 100%;
	list-style: none;
	> a {	
		display: block;
		font-size: 20px;
		text-align: center;
		width: 100%;
			@include breakpoint($desktop) {
				text-align: right;
				padding: 5px 50px;
			}
		}	
	}
}

.nav {
	margin-top: 30px;
	@include breakpoint($desktop) {
		margin-top: 0;
		position: absolute;
		top: 0px;
		right: 0px;
	}
 	> ul {
 		display: none;
 		margin-top: 0px;
		list-style: none;
		padding: 0;
		@include breakpoint($desktop) {
 			margin-top: 60px;			
		}		
	}
}

.menu-item {
	> a {
		color: white;
		&:hover {
			color: $pink;
		}
	}
}


// Logo
.logo-img {
}


// menu-icon
.menu-icon {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 0px;
	&:before {
		width: 30px;
		height: 30px;
		content: '\f0c9';
		font-family: 'FontAwesome';
		font-size: 30px;
    	background-color: transparentize(gray, 0.5);
    	padding: 10px;
    	color: #c5a17f;		
	}
}
