.article-block {
    border-bottom: 1px dashed $gray;
    padding: 25px 0px;
    margin-bottom: 20px;
    > .date {
        margin: 0 auto;
        @include breakpoint($desktop) {
            float: right; 
            width: 20%;
        }
    }

    > p {
        margin-top: 15px;
    }

    .meta {
        margin-bottom: 15px;
    }

    > .head-wrap {
        @include breakpoint($desktop) {
            width: 80%;
        }
    }
}

.date {
    min-width: 130px;
    max-width: 130px;
    .day {
        @include circle(52px, $gray);
        color: $white;
        font-size: 20px;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .month-year {
       @extend p;
       text-transform: uppercase;
       font-weight: bold;
    } 
}

.meta {
    .author {
        margin: 0 5px 0 0;
    }
    .link, .author {
        font-weight: bold;
    }  
}




// legwork

.mainwrap {
  position: relative;
  overflow-x: hidden;
}

.sidebar-wrap {
  z-index: 100;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0px;
  color: white;
  transition: width 500ms ease;
  &:hover {
    @include breakpoint(min-width 700px) {
      width: 273px;      
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: -44px;
    content: '';
    width: 44px;
    height: 100%;
    background-color: transparentize(gray, 0.3);
  }
}

.sidebar {
  width: 273px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .sidenav-logo {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

  .side-nav {
    position: relative;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    &:hover {
      text-decoration: none;
      > .indicator {
        > .bar {
          @include breakpoint(min-width 700px) {
            background-color: black;
            width: 100%;
            position: absolute;              
          }
        }        
      }
    }
    &.active {
      text-decoration: none;
      > .indicator {
        > .bar {
          background-color: black;
          width: 100%;
          position: absolute;        
        }        
      }
    }
    > .indicator {
        position: absolute;
        left: -44px;
        top: 50%;
        transform: translateY(-50%);
        > .tag {
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
        }
        > .bar {
          transition: width 300ms ease;
          background-color: black;
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;      
        }
      }
  }

 /*------------------------------------*\
  #SECTION
\*------------------------------------*/
.section {
  min-height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: blue;
  position: relative;
  &:nth-child(1) {
    display: block;
    background-image: url('../src/img/services.png');
    animation: fadeInDown 300ms linear;
  }
  &:nth-child(2) {
    background-image: url('../src/img/summary.png');
    animation: fadeInUp 300ms linear;
  }
  &:nth-child(3) {
    background-image: url('../src/img/services.png');
  }
  &:nth-child(4) {
    background-image: url('../src/img/accolades.png');
  }
  &:nth-child(5) {
    background-image: url('../src/img/contact.png');
  }
  &:nth-child(6) {
    background-image: url('../src/img/careers.png');
  }
  &:nth-child(7) {
    background-image: url('../src/img/services.png');
  }
  &:nth-child(8) {
    background-image: url('../src/img/services.png');
  }

  #canvas{
    position: absolute;
    left:-260px;
    bottom:0;
    // border:solid;
  }
}

.content {
  height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInDown{ 
    opacity: 0; 
    -webkit-transform: translateY(-400px); 
    transform: translateY(-400px);
}




@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInUp{ 
    opacity: 0; 
    -webkit-transform: translateY(400px); 
    transform: translateY(400px);
}
.fadeInUp.go { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}




