/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // `font-size` for REM use
  font-size: 62.5%;
  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
  padding:0;
  margin:0;
}

img {
  // Don't allow <IMG> to be larger then its container
  display: block;
  width: 100%;
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active {}
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}

h2 {
  margin: 0;
  > a {
    color: #2f242a;
    font-size: 28px;    
  }
}

article {
  position: relative
}

p {
  color: #5e5b6e;
  font-size: 16px;
  margin: 0;
}

main {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 5px solid #f98f79;
    position: relative;
    background: white;
    @include breakpoint($desktop) {
      padding: 0 25px;
      z-index: 2;
      top: -80px;       
    }
}
