/**
 * partials/wrapper
 * ---
 */

.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}

.head-wrap {
  width: 100%;
}

.footer-wrap {
	@include span(12 of 12);
	@include breakpoint($desktop) {
		@include span(9 of 12 last);		
	}
}