/*!
<<<<<<< HEAD
 * Theme Name: erson
 * Theme URI: erson.com
 * Description: erson
 * Version: 1.5.0
 * Author: erson
 * Author URI: erson.com
 * Tags: Blank, HTML5, CSS3
=======
 * Theme Name: Sonic
 * Theme URI: http://sonic.com
 * Description: HTML5 Blank WordPress Theme
 * Version: 1.5.0
 * Author: Sonic(@toddmotto)
 * Author URI: sonic.com
 * Tags: Sonic
>>>>>>> bf58deb45c6bd5f1d5d6cff338231cc86ee86983
 *
 * License: MIT
 * License URI: http://opensource.org/licenses/mit-license.php
 */
/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * Breakpoint
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  padding: 0;
  margin: 0; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #444;
  text-decoration: none; }
  a:focus, a:hover {
    text-decoration: none; }

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

::-moz-selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #04A4CC;
  color: #fff;
  text-shadow: none; }

h2 {
  margin: 0; }
  h2 > a {
    color: #2f242a;
    font-size: 28px; }

article {
  position: relative; }

p, .date .month-year {
  color: #5e5b6e;
  font-size: 16px;
  margin: 0; }

main {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  border-top: 5px solid #f98f79;
  position: relative;
  background: white; }
  @media (min-width: 1000px) {
    main {
      padding: 0 25px;
      z-index: 2;
      top: -80px; } }

.view-article {
  font-weight: bold; }
  .view-article:hover {
    color: #ff8183; }

.btn-loadmore {
  background: #5b5971;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  outline: none; }

.article-block {
  border-bottom: 1px dashed #5b5971;
  padding: 25px 0px;
  margin-bottom: 20px; }
  .article-block > .date {
    margin: 0 auto; }
    @media (min-width: 1000px) {
      .article-block > .date {
        float: right;
        width: 20%; } }
  .article-block > p, .date .article-block > .month-year {
    margin-top: 15px; }
  .article-block .meta {
    margin-bottom: 15px; }
  @media (min-width: 1000px) {
    .article-block > .head-wrap {
      width: 80%; } }

.date {
  min-width: 130px;
  max-width: 130px; }
  .date .day {
    background: #5b5971;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    line-height: 52px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px; }
  .date .month-year {
    text-transform: uppercase;
    font-weight: bold; }

.meta .author {
  margin: 0 5px 0 0; }

.meta .link, .meta .author {
  font-weight: bold; }

.mainwrap {
  position: relative;
  overflow-x: hidden; }

.sidebar-wrap {
  z-index: 100;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0px;
  color: white;
  transition: width 500ms ease; }
  @media (min-width: 700px) {
    .sidebar-wrap:hover {
      width: 273px; } }
  .sidebar-wrap:before {
    position: absolute;
    top: 0;
    left: -44px;
    content: '';
    width: 44px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7); }

.sidebar {
  width: 273px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .sidebar .sidenav-logo {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.side-nav {
  position: relative;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%; }
  .side-nav:hover {
    text-decoration: none; }
    @media (min-width: 700px) {
      .side-nav:hover > .indicator > .bar {
        background-color: black;
        width: 100%;
        position: absolute; } }
  .side-nav.active {
    text-decoration: none; }
    .side-nav.active > .indicator > .bar {
      background-color: black;
      width: 100%;
      position: absolute; }
  .side-nav > .indicator {
    position: absolute;
    left: -44px;
    top: 50%;
    transform: translateY(-50%); }
    .side-nav > .indicator > .tag {
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center; }
    .side-nav > .indicator > .bar {
      transition: width 300ms ease;
      background-color: black;
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }

/*------------------------------------*  #SECTION
\*------------------------------------*/
.section {
  min-height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: blue;
  position: relative; }
  .section:nth-child(1) {
    display: block;
    background-image: url("../src/img/services.png");
    animation: fadeInDown 300ms linear; }
  .section:nth-child(2) {
    background-image: url("../src/img/summary.png");
    animation: fadeInUp 300ms linear; }
  .section:nth-child(3) {
    background-image: url("../src/img/services.png"); }
  .section:nth-child(4) {
    background-image: url("../src/img/accolades.png"); }
  .section:nth-child(5) {
    background-image: url("../src/img/contact.png"); }
  .section:nth-child(6) {
    background-image: url("../src/img/careers.png"); }
  .section:nth-child(7) {
    background-image: url("../src/img/services.png"); }
  .section:nth-child(8) {
    background-image: url("../src/img/services.png"); }
  .section #canvas {
    position: absolute;
    left: -260px;
    bottom: 0; }

.content {
  height: 100vh;
  overflow: hidden; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-400px); }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInDown {
  opacity: 0;
  transform: translateY(-400px); }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(400px); }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  opacity: 0;
  transform: translateY(400px); }

.fadeInUp.go {
  animation-name: fadeInUp; }

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0; }

.aligncenter {
  display: block;
  margin: 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 15px 15px; }

.alignleft {
  float: left;
  margin: 5px 15px 15px 0; }

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center; }
  .wp-caption img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;
    padding: 0;
    margin: 0; }

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 140%;
  line-height: 1.5; }

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.reset-box {
  padding: 0;
  margin: 0; }

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

.head-wrap {
  width: 100%; }

.footer-wrap {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 1000px) {
    .footer-wrap {
      width: 74.57627%;
      float: right;
      margin-right: 0; } }

/**
 * partials/header
 * ---
 */
.header {
  position: relative;
  z-index: 1;
  padding-bottom: 56.25%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; }
  .header > :first-child {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  @media (min-width: 700px) {
    .header {
      padding-bottom: 31.25%;
      position: relative; }
      .header > :first-child {
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%; } }
  .header > .logo {
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: auto; }
    @media (min-width: 400px) {
      .header > .logo {
        width: 220px; } }
    @media (min-width: 700px) {
      .header > .logo {
        left: 18%; } }
  .header li {
    width: 100%;
    list-style: none; }
    .header li > a {
      display: block;
      font-size: 20px;
      text-align: center;
      width: 100%; }
      @media (min-width: 1000px) {
        .header li > a {
          text-align: right;
          padding: 5px 50px; } }

.nav {
  margin-top: 30px; }
  @media (min-width: 1000px) {
    .nav {
      margin-top: 0;
      position: absolute;
      top: 0px;
      right: 0px; } }
  .nav > ul {
    display: none;
    margin-top: 0px;
    list-style: none;
    padding: 0; }
    @media (min-width: 1000px) {
      .nav > ul {
        margin-top: 60px; } }

.menu-item > a {
  color: white; }
  .menu-item > a:hover {
    color: #ff949e; }

.menu-icon {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0px;
  right: 0px; }
  .menu-icon:before {
    width: 30px;
    height: 30px;
    content: '\f0c9';
    font-family: 'FontAwesome';
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    color: #c5a17f; }

/**
 * partials/nav
 * ---
 * Menus
 */
/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
.footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #331e27;
  padding: 50px 5%; }
  .footer:after {
    content: " ";
    display: block;
    clear: both; }
  .footer ul {
    list-style-type: none;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0; }
    .footer ul:after {
      content: " ";
      display: block;
      clear: both; }
    .footer ul > li {
      display: inline-block;
      float: left;
      width: 100%; }
      @media (min-width: 1000px) {
        .footer ul > li {
          width: auto; } }
    .footer ul a {
      font-size: 15px;
      display: block;
      text-transform: uppercase;
      padding: 10px 15px;
      color: white;
      width: 100%;
      text-align: center; }
      @media (min-width: 1000px) {
        .footer ul a {
          width: auto; } }
      .footer ul a:hover {
        color: #ff949e; }
  .footer > .logo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 1000px) {
      .footer > .logo {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; } }
    .footer > .logo img {
      max-width: 160px;
      margin: 0 auto; }

.copyright {
  color: #604856;
  margin: 0;
  text-align: center; }
  @media (min-width: 1000px) {
    .copyright {
      text-align: left; } }

/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, .date .month-year,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
